<ul class="thumbnails">
  <% @stuffs.each_with_index do |stuff, idx| %>
    <% if idx % 4 == 0 %>
    <div class="span12">
  <% end %>
    <li class="span3">
    <div class="thumbnail ">
      <% if stuff.assets.size >0 %>
        <%= content_tag :a, href: "#stuff-#{stuff.id}", class: 'preview', 'data-toggle' => 'modal', role: 'button', 'data-target' => "#stuff-#{stuff.id}"  do %>
        <%= image_tag stuff.assets[0].avatar.url(:medium), :class => "img-rounded" %>
    <% end -%>
      <!-- modal-gallery is the modal dialog used for the image gallery -->
      <div id="stuff-<%= stuff.id %>" aria-labelledby="#stuff-<%= stuff.id %>Label"class="modal hide fade"  role="dialog" aria-hidden="true"  tabindex="-1" >
        <div class="modal-header">
          <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
          <h3 class="modal-title"><%= stuff.name %></h3>
        </div>
        <div class="modal-body">
          <div id="stuff-<%= stuff.id %>Carousel" class="carousel slide">
            <ol class="carousel-indicators">
              <% stuff.assets.size.times do |e| %>
                <li data-target="#stuff-<%= stuff.id %>Carousel" data-slide-to="<%= e %>" <%= (e==0) ? "class='active'" : ""  %>></li>
            <% end %>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <% stuff.assets.each_with_index do|img, idx| %>
                <div class="item <%= (idx == 0) ? "active" : "" %>">
                <%= image_tag "/#", 'data-src' => img.avatar.url %>
              </div>
            <% end -%>
            </div>
            <a href="#stuff-<%= stuff.id %>Carousel" class="carousel-control left" data-slide="prev">&lsaquo;</a>
            <a href="#stuff-<%= stuff.id %>Carousel" class="carousel-control right" data-slide="next">&rsaquo;</a>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    <% end -%>
      <h4 data-toggle="tooltip" data-placement="top" title="<%= stuff.name %>"><%= stuff.name %></a></h4>
      <p>
        Tags: <%= raw stuff.tag_list.map{|t| link_to t, tag_path(t) }.join(', ') %>
      </p>
    <% if stuff.price == 0.0  %>
      <p class="text-attention">Free!</p>
    <% elsif stuff.price.nil? %>
      <p class="text-attention">OBO</p>
    <% else %>
      <p class="text-price">Price: $<%= stuff.price %></p>
    <% end -%>
    <div class="btn-centered">
      <% if stuff.price == 0.0  %>
        <%= link_to "Want it!", new_stuff_ticket_url(stuff), class: "dark-flat-btn" %>
    <% else %>
        <%= link_to "Buy it!", new_stuff_ticket_url(stuff), class: "dark-flat-btn" %>
    <% end %>
    </div>
  </div>
  </li>
  <% if idx % 4 == 3 %>
  </div>
  <% end %>
<% end -%>
  </div>
</ul>
<%= will_paginate @stuffs %>

