<h1>Tickets for <%= @stuff.name %></h1>
<div class="row">
  <div class="container">
    <table class="ticket-board">
      <thead>
        <th>
          #
        </th>
        <th>
          Email
        </th>
        <th>
          Last Comment
        </th>
        <th>
          Actions
        </th>
      </thead>
      <tbody>
        <% @tickets.each_with_index do |ticket, idx| %>
          <tr>
            <td><%= idx+1 %></td>
            <td><%= ticket.email %></td>
            <td><%= (comment = ticket.comments.last) ? comment.context : '' %></td>
            <td>
              <%= link_to 'Show', stuff_ticket_url(@stuff, ticket), class: 'flat-btn' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
