<div class="ticket-row row-fluid">
  <div class="span12">
    <div id="stuffCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <% @stuff.assets.each_index do |idx| %>
          <li data-target="stuffCarousel" data-slide-to="#{idx}" <%= (idx == 0) ? 'class="active"': ''%>></li>
        <% end -%>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @stuff.assets.each_with_index do |asset, idx| %>
          <% if idx == 0 %>
            <div class="active item">
          <% else %>
            <div class="item">
          <% end -%>
          <%= link_to asset.avatar.url, target: '_blank' do %>
              <%= image_tag asset.avatar.url(:medium), class: 'img-polaroid' %>
            <% end -%>
            </div>
        <% end -%>
      </div>
      <!-- Carousel nav -->
      <% if @stuff.assets.size > 1 %>
        <a class="carousel-control left" href="#stuffCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#stuffCarousel" data-slide="next">&rsaquo;</a>
    <% end -%>
    </div>
  </div>
</div>
<hr />
<div class="span12">
  <div class="offset2 span8">
    <%= form_for [@stuff, @ticket] do |f| %>
      <% if @ticket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this stuff from being saved:</h2>

          <ul>
            <% @ticket.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <legend>Left your comment</legend>
        <%= f.hidden_field :stuff_id %>
        <%= f.label :email, "Your Email" %>
        <%= f.email_field :email, :placeholder => 'mystuff@gmail.com' %><br>
        <p>
        <span class="help-blcok text-info"><i>System will contact you via your email</i></span>
        </p>
        <%= f.label :comments, "Comment" %>
        <%= f.fields_for :comments do |b| %>
          <%= b.text_area :context, :rows => 15 %>
        <% end %>
        <p>
        <span class="help-blcok text-info"><i>Tell what you are thinking</i></span>
        </p>
        <div class="actions pull-right">
          <%= f.submit 'Submit', :class => 'flat-btn' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
