<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to "My Stuffs", "/" %></li>
        <li><%= link_to "People", '/users' %> </li>
        <% if user_signed_in? %>
          <li><%= link_to "Stuffs", stuffs_url %></li>
        <% end -%>
      </ul>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to 'Profile', edit_user_registration_path %></li>
        <% else  %>
          <% # link_to 'Sign Up', new_user_registration_url %>
        <li><%= link_to 'Login', user_session_url %></li>
      <% end -%>
      </ul>
    </div>
  </div>
  <hr>
</div>
